# PHP-FPM
location ~ .*\.php$ {
  fastcgi_index   index.php;
  fastcgi_pass    {{ nginx_php_pool_address }}:{{ nginx_php_pool_port }};
  include         fastcgi_params;
  fastcgi_param   SCRIPT_FILENAME    $document_root/$fastcgi_script_name;
  fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
}
